[global]
debug = true
filter = broadcast and ((udp and src port 138) or arp)
log_filename = ../logs/pba.log

[localdb]
hostname = db
username = pba
password = pba
database = pba
detail = true
raw = true

[remotedb]
enabled  = false
hostname = remotehost
username = pba2
password = pba2
database = pba2
detail = true
raw = true
